<% include ./partials/header %>


    <br><br><br>







    <br><br>
<br><br>

    <div class="container-fluid" style="padding: 0px 80px;font-size: 18px !important;">    
        <form action="/users/event/add" method="POST">
          <div class="container-fluid" style="margin-left: -15px;">
           <div class="row">
            <div class="col-md-6">
          <div class="form-group">
            <label>Event Title:</label>
            <input type="text" name="title" class="form-control" placeholder="Add Event Title" required="">
          </div>
            </div>
            <div class="col-md-5">
          <div class="form-group">
            <label>Date:</label>
            <input type="text" name="date" id = "#datepicker" class="form-control" placeholder="Enter Event Date" required="">
          </div>
          </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                    <div class="form-group">
                            <label>Description:</label>
                            <input type="text" name="description" class="form-control" placeholder="Enter Event Description" required="">
                          </div>
            </div>
            <div class="col-md-5">
                    <div class="form-group">
                            <label>Time:</label>
                            <input type="text" name="time" id = "#time" class="form-control" placeholder="Enter Event Time" required="">
                          </div>
            </div>

        </div>

        <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                                <label>Venue:</label>
                                <input type="text" name="venue" class="form-control" placeholder="Enter Event Venue" required="">
                              </div>
                </div>
                <div class="col-md-1" >
                        <label style="color: white;">.</label><br>
                        <button type="submit" class="btn dropbtnLoginc save-btn">Add new</button>
                      </div>
        </div>
              
         
      
         
        </div>    
        </form>
        <br/>
        <table  id="customers2"class="table data-table">
          <thead>
            <th width="20%">Event Title</th>
            <th width="10%">Date</th>
            <th width="10%">Time</th>
            <th width="30%">Description</th>
            <th width="20%">Venue</th>
            <th width="10%"></th>
          </thead>
          <tbody>
              <% if(event.length!=0){
                  event.forEach((fnot)=>{%>
                    <tr>
                            <td><%=fnot.title%></td>
                            <td><%=fnot.date%> </td>
                            <td><%=fnot.time%> </td>
                            <td><%=fnot.description%> </td>
                            <td><%=fnot.venue%> </td>
                              <td style="text-align:center;">
                                <form style="display: inline;" action="/users/event/edit/<%=fnot._id%>" method="GET">
                                    <button class='btn btn-info btn-xs btn-edit'><b>Edit</b></button> 
                                </form>
                                  
                                  <form style="display: inline;" action="/users/event/delete/<%=fnot._id%>?_method=DELETE" method="POST">
                                    <button class='btn btn-danger btn-xs btn-delete'><b>Delete</b></button>
                                  </form>
                                  
                              </td>
                            </tr>
                 <% })
              }%>
           
            </tbody>
        </table>

    <!-- Footer -->
<!-----------=========================================== change footer  =====================================================================================-->        
<!-----------=========================================== change footer  =====================================================================================-->        

      <!-- Custom js -->
        <script>
        $(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});</script>
      <script>
      $(function() {
            var chk = $('#checkbox');
            var btn = $('#btncheck');
          
            chk.on('change', function() {
              btn.prop("disabled", !this.checked);//true: disabled, false: enabled
            }).trigger('change'); //page load trigger event
          });</script>


     <script>
        $(function() {
              var chk1 = $('#checkbox1');
              var btn1 = $('#btncheck1');
            
              chk1.on('change', function() {
                btn1.prop("disabled", !this.checked);//true: disabled, false: enabled
              }).trigger('change'); //page load trigger event
            });
            </script>
  


      <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/custom.js"></script>
    <script>
            function readURL1(input) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();

               reader.onload = function (e) {
                   $('#imgsrc')
                       .attr('src', e.target.result);
               };

               reader.readAsDataURL(input.files[0]);
           }
       }
    </script>
    <link rel="stylesheet" href="jquery-timepicker/jquery.timepicker.min.css">
    <script src="jquery-timepicker/jquery.timepicker.min.js"></script>
    <script>
            $( function() {
              $( "#datepicker" ).datepicker();
            } );
            </script>
    <script>
    $(document).ready(function(){
    $('#time').timepicker({
        timeFormat: 'h:mm p',
        interval: 15,
        minTime: '10',
        maxTime: '6:00pm',
        startTime: '10:00',
        defaultTime: '11',
        scrollbar: true
    });
});

    </script>

</body>
</html>